<!DOCTYPE html>
<html lang="en">
  <%- include ( 'partialHead' ) %>
<body>
  <%- include ( 'partialHeader' ) %>
  <main>
    <div id="content">
      <article class="card">
        <br>
        <h3>WELCOME TO MOVIE APPLICATION</h3>
      </article>
    </div>
  </main>
</body>
</html>