<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>HOT MOVIE APPLICATION</title>

  <style>
    
    body {
        font-family: "Quicksand", sans-serif;
        margin: 0;
        padding: 0;
    }

    main {
        padding: 20px;
        overflow: auto;
    }

    header {
        display: inline;
    }

    h1 { 
        color: rgb(246, 250, 246);
    }

    h2, h3 {
        color: #04aacf;
    }

    p {
        font-size: 12px;
        font-family: "Quick Sand", Arial, sans-serif;
    }

    span {
        font-family: "Open Sans", sans-serif;
    }

    footer {
        padding: 20px;
        color: ivory;
        background-color: #02a4c9;
        text-align: center;
        font-weight: bold;
    }

    nav {
        background-color: #0d90addc;
        padding: 5px;
        position: sticky;
        top: 0;
    }

    nav a {
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: aliceblue;
    }

    nav a:hover {
        font-weight: bold;
    }

    .profile header {
        text-align: center;
    }

    .featured-image {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .profile img {
        width: 200px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
    }

    .tile {
        font-size: 20px;
        padding: 60px;
        background-color: #2ec1dbb9;
        text-align: center;
        color: white;
    }

    nav li {
        display: inline;
        list-style-type: none;
        margin-right: 20px;
    }

    #content {
        float: left;
        width: 75%;
    }

    #content p {
        text-align: justify;
    }

    aside {
        float: right;
        width: 25%;
        padding-left: 20px;
    }

    * {
        box-sizing: border-box;
    }

    @media screen and (max-width: 1000px) {
        #content,
        aside {
            width: 100%;
            padding: 0;
        }
    }


    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    .buttonBlue {background-color: #008CBA;} 
    .buttonRed {background-color: #ba0000;} 

    .link-button{
      text-decoration: none;
      background-color: #008CBA;
      color: rgb(250, 248, 248);
      padding: 2px 6px 2px 6px;
      border: 1px solid #c2c2c2;
      border-radius:2px;
    }
    .link-button1{
      text-decoration: none;
      background-color: #e00404;
      color: rgb(250, 248, 248);
      padding: 2px 6px 2px 6px;
      border: 1px solid #e00404;
      border-radius:2px;
    }
    .link-button2{
      text-decoration: none;
      background-color: #ba0000;
      color: rgb(250, 248, 248);
      padding: 2px 6px 2px 6px;
      border: 1px solid #c2c2c2;
      border-radius:2px;
    }

    table, th, td {
            margin-top: 1%;
            /* padding: 1%; */
            }
    /* table {
      height: 150px;
    } */

  </style>


</head>