<header>
  <div class="tile">
      <h1>MOVIE APPLICATION</h1>
  </div>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/production">Production House</a></li>
          <li><a href="/movie">Movie</a></li>
          <li><a href="/cast">Cast</a></li>
      </ul>
  </nav>
</header>